a{
    text-decoration: none;
}
.navbar .container-fluid{
    background-color: #460D00;
}
.memberRedBg{
    background: #f4ece7;
}
.tagBg{
    background-color: #742319;
}
.list-group-item.activeMood{
    border-left: solid 4px #742319!important;
}
.btnEat{
    background-color: #742319;
}
.btnEat:hover{
    background-color: #6c190f!important;
}
.card{
    background-color: #F1EAE6;
}
.card .activitydate{
    color: #B2796F;
}
.darkCark{
    background-color: #742319;
}

/* index */

.darkRed{
background:#460d01;
color:white;
}

.lightRed{
    background:#B2796F;
    color:white;
    }


.index_section_1{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#paper{
    position: absolute;
    top:-700%;
    overflow: clip;
    display:flex;

}

.index_search{
    width:500px;
    position: absolute;
    margin-top:-20%;
}

.form-rounded {
    border-radius: 50rem;
    }

.index_section_2{
    width:100%;
    height: 100%;
    background-image: url('/img/paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top:-200px;
    z-index: 2;
    position: relative;
    text-align: center;
}

#crabRice{
    width: 20%;  
    position:absolute;
    left:5%;
    top:20px
}

#beefNoodle{
    width: 30%;  
    position:absolute;
    right:0%;
    top:240px
}

.index_section_3_title h2,
.index_section_3_title p
{
    display:flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem
}
.cards_time{
color: #b2796f;
}

.cards_area{
    color: #717171;    
}
.cards_info{
    color: #717171;
    margin-top:1rem;
    align-items: center;
    justify-content: center;
    display:flex;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}


/* activity page */

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
